@use 'helpers/index' as *;

:root {
  --accent: #6C63FF;
  --accent-dark: #5a52d5;
  --just-white: #ffffff;
  --text-main: #2D3436;
  --bg-app: #F0F2F5;
  --danger: #FF5252;

  --font-family-base: 'Nunito', sans-serif;

  --container-width: #{rem(1856)};
  --container-padding-x: #{rem(32)};
  --container-padding-y: #{rem(32)};

  --transition-duration: 0.2s;
}
